spring:   
  datasource:
  #  url: jdbc:mysql://rm-wz92q1p5904s5wjo5.mysql.rds.aliyuncs.com:3306/qcx?useUnicode=true&characterEncoding=utf8&autoReconnect=true&failOverReadOnly=false
    url: jdbc:mysql://120.76.190.81:3306/qcx?useUnicode=true&characterEncoding=utf8&autoReconnect=true&failOverReadOnly=false
    username: jky
 #   password: GZzxtVS123jky2017
    password: GZjky01001
    driver-class-name: com.mysql.jdbc.Driver
    tomcat:
      initial-size: 5
      min-idle: 5
      max-active: 10
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 50000
eureka:
  instance:
    prefer-ip-address: true
    insta
e-renewal-interval-in-seconds: 5
  client:
    service-url:
      defaultZone: http://jky:GJKtime123@localhost:18761/eureka
      
      
      
      